.Main-friendsHeader{
    position: absolute;
    width: 740px;
    height: 80px;
    left: 1056px;
    top: 195px;
    
    /* On Primary / High Emphasis */
    
    background: #000000;
}

.Main-pic {
    height: 20px;
    width: 20px;
    border-radius: 8px;
}
